<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
<script src="./js/app.js"></script>
</head>
<body>
  <p class="name">{{>header}}</p>
  <div class="aboutme">
    <p>Born With A Black Colour But Have The Ability To Put Beautiful Colour In Other People's Life.A 14 Year Boy Who Is Intrested In Explorning And Learning New Things And Have A Dream Of Changing The World
 </p>
</div>
    <h1 class="footer">{{>footer}}</h1>
</body>
</html>